.experience-card {
  padding: 1em;
  margin: 0.8em;

  transition: transform 500ms ease;
}
.experience-card:hover {
  transform: scale(1.02);
}
.company-title-and-dates {
  display: grid;
  grid-template-columns: repeat(5 1fr);
}

.company-title {
  grid-column-start: 1;
}
.start-date {
  grid-column-start: 3;
  justify-self: end;
}
.end-date {
  grid-column-start: 4;
  justify-self: start;
}
